body {
    margin: 0%;
    padding: 0%;
}
.flex-container{
  display: flex;
  flex-direction: column;
  /*align-items: center;
    justify-content: flex-start; 
    height: 200px;*/ 
}
.flex-container .header{
        background: #1F2937;
        flex: 1;
        text-align: justify;
        position: relative;
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
        border-bottom: 2px solid black;
}
.main-title {
    padding: 48px;
    color: aliceblue;
    text-align: justify;
}
.main-title h1 {
    font-size: 35px;
    font-weight: bold;
    max-width: 40%;
}
.main-title h3{
    font-size: 18px;
    color: aliceblue;
    text-align: justify;
    max-width: 40%;
    margin-top: 5px;
}
.pic0-image{
    width: auto;
    margin-left: 600px;
    margin-top: -250px;
    height: 300px;
    justify-content: center;
    background: url("/image/pic2.jpeg") no-repeat center;
    background-size: cover;
}
.logo-pic{
    /*background: url("/image/logo.jpeg") no-repeat center;
    width: 102px;
    height: 300px;
    margin-right: 300px;
    padding-left: 20px;
    margin-top: -300px;
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    margin-top: -300px;
    padding: 48px;

    background: url("/image/logo.jpeg") no-repeat center;
    width: 102px;
    height: 300px;
    margin-right: 300px;
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    margin-top: -300px;
    padding: 48px;
    background: url("/image/logo.jpeg") no-repeat center;*/
    
    /*color: white;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    align-self: flex-start;
    padding-left: 48px;*
    
    /*background: url("/image/logo.jpeg") no-repeat center*/
}