body {
    margin: 0%;
    padding: 0%;
}
.flex-container{
  display: flex;
  flex-direction: column; 
}
.flex-container .header{
        background: #1F2937;
        flex: 1;
        text-align: justify;
        position: relative;
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
}
.main-title {
    padding: 48px;
    color: aliceblue;
    text-align: justify;
}
.main-title h1 {
    font-size: 35px;
    font-weight: bold;
    max-width: 40%;
}
.main-title h3{
    font-size: 18px;
    color: aliceblue;
    text-align: justify;
    max-width: 40%;
    margin-top: 5px;
}
.pic0-image{
    margin-left: 600px;
    height: 500px;
    justify-content: center;
    background: url("/image/pic2.jpeg") no-repeat center;
    margin-top: -250px;
    background-position: center bottom;
}