body {
    margin: 0%;
    padding: 0%;
    flex: 1;
    font-family: 'Times New Roman', Times, serif;
}
.flex-container{
  display: flex;
  flex-direction: column;
  /*align-items: center;
    justify-content: flex-start; 
    height: 200px;*/ 
}
.second-header{
        background: #1F2937;
        flex: 1;
        display: flex;
        max-width: 100%;
        border-bottom: 1px solid #ccc;
        align-items: top; /* Center items vertically */
        justify-content: space-between; /* Create space between items */
}
.main-title {
    color: #F9FAF8;
    text-align: justify;
    padding: 30px;
    flex: 1;
}
.main-title h1 {
    font-size: 32px;
    font-weight: bold;
    max-width: auto;
    color: #ccc;
    flex: 1;
    
}
.main-title h3{
    font-size: 18px;
    color: #ccc;
    text-align: justify;
    max-width: 40%;
    margin-top: 5px;
    flex: 1;
}
.pic2-image{
    width: auto;
    margin-left: 600px;
    margin-top: -250px;
    margin-right: 30px;
    height: 300px;
    justify-content: center;
    background: url("image/pic2.jpeg") no-repeat center;
    background-size: cover;
    flex: 1;
}
.button{
    background-color: #ccc;
    color: #1F2937;
    border-radius: 10px;
    border: #ccc;
    opacity: 1;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background: #1F2937;
    text-align: center;
}
/*.logo{
    width: auto;
    height: 50px;
    margin-left: auto;
    background: url("image/logo.jpeg") no-repeat center;
    padding-left: 20px;
}*/
header a {
    margin: 0 20px;
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
/*
section{
    background-color: #818FB4;
    flex: 1;
    display: flex;
}

.right-place{
    padding: 50px;
    padding-top: 0%;
    margin-top: 0%;
    padding-left: 80px;
}
.project{
    text-align: center;
    flex: 1;
    flex-direction: column;
    margin: 30px;
}
.pic1-image{
    background: url("image/pic1.jpeg") no-repeat;
    background-size: cover;
    width: auto;
    height: 300px;
    margin-top: 20px;
}
.pic1-image{
    background: url("image/pic4.jpeg") no-repeat;
    background-size: cover;
    width: auto;
    height: 400px;
    margin-top: 20px;
    align-self: flex-start;
}*/
/* content information */
.content {
    padding: 35px 150px;
    flex: 1;
    background-color: #E5E7EB;;
}
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.reason {
    padding-bottom: 12px;
    font-size: 18px;
    color: #1F2937;
}
.pictures-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 1;
}
.info-pictures {
    padding: 6px 6px;
    text-align: center;
}
.info-pictures img {
    background-size: cover;
    height: 170px;
}
.info-pictures .text {
    color: black;
}
quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #1F2937;
    border-bottom: 1px solid #ccc;
}
quotes .text-quote {
    justify-self: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    margin-top: 45px;
    color: #F9FAF8;
}
.call {
    display: flex;
    flex: 1;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #F9FAF8;
    justify-content: center;
}
.call-to-action {
    background-color: #1F2937;
    display: flex;
    gap: 550px;
    padding: 45px 30px;
    border-radius: 8px;
}
.call-to-action p, h4 {
    color: #ccc;
}
.talk-to-us button{
    background-color: #ccc;
    color: #1F2937;
    padding: 7px 10px;
    justify-self: center;
    margin-top: 45px;
}
.footer{
    background-color: #1F2937;
    text-align: center;
    padding: 18px 0;
    color: #ccc;
}
